extends layoutdash

block dashcontent
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    
    h2.page-header Lessons by #{teacherName}
    if requestedLessonPlans.length > 0
        .row(ng-app="ViewAllLessonPlans" ng-controller="myAppController")
            .col-md-12
                - each lesson in requestedLessonPlans
                    .row
                        .col-md-2.span12
                            - if (lesson.date)
                                - var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" ];
                                - var month = monthNames[lesson.date.getUTCMonth()];
                                - var day = lesson.date.getDate();
                                - var year = lesson.date.getFullYear();
                                .date
                                    .month #{month}
                                    .day #{day}
                                    .year #{year}
                            .voteContainer
                                    .row
                                        .col-md-12
                                            .vote(ng-bind="votes[\'" + lesson.id + "\']")
                                    .voting
                                        .row
                                            .col-md-6
                                                a.votebtn(ng-click=('upvote(\'' + lesson.id + '\')'))
                                                    i.fa.fa-thumbs-up                                               
                                            .col-md-6
                                                a.votebtn(ng-click=('downvote(\'' + lesson.id + '\')'))
                                                    i.fa.fa-thumbs-down
                        .col-md-10
                            dl.dl-horizontal
                                    dt Title
                                    dd 
                                        a(href='viewLesson?id=' + lesson._id)
                                            span #{lesson.title}
                                    - if (lesson.date)
                                        dt Created on
                                        - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
                                        - var month = monthNames[lesson.date.getUTCMonth()];
                                        - var day = lesson.date.getDate();
                                        - var year = lesson.date.getFullYear();
                                        dd #{month} #{day}, #{year}
                                    .row
                                        .col-md-6
                                            dt Course
                                            dd #{lesson.course.grade} #{lesson.course.subject}
                                        .col-md-6
                                            dt Duration
                                            - var dayText = (lesson.duration_in_days > 1) ? 'days' : (lesson.duration_in_days == 1) ? 'day' : 'of a day'; 
                                            dd #{lesson.duration_in_days} #{dayText}
                                    if (lesson.parents.length > 0)
                                        dt Forked from
                                        dd 
                                            - for (var parentIndex = 0; parentIndex < lesson.parents.length; ++parentIndex)
                                                a.btn.btn-forkedLessons(type='button'
                                                    href='viewLesson?id=' + lesson.parents[parentIndex]) #{parentIndex + 1}
                                                span 
                                    dt Expectations
                                    dd #{lesson.lesson_plan_expectations}
                                    dt Actions
                                    dd
                                        if (user.id == lesson.author)
                                            a.btn.btn-primary(type='button'
                                                href='editEntry?id=' + lesson.id) Edit
                                            span 
                                            | 
                                            a.btn.btn-primary(type='button', data-toggle='modal'
                                                href='#exampleModal'
                                                data-whatever=lesson.id) Delete
                                            span 
                                            | 
                                            if (lesson.parents.length > 0)
                                                a.btn.btn-primary(type='button' href='requestMerge?id=' + lesson.id) Request Merge
                                        else
                                            a.btn.btn-primary(type='button'
                                                href='forkEntry?id=' + lesson.id) Fork
    else
        span No lessons to show!
    // Modal
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
        .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                |             
                h4#exampleModalLabel.modal-title Are you sure you want to delete this lesson?      
              .modal-footer
                .row
                    .col-md-6
                        button.btn.btn-default.btn-lg.btn-block(type='button', data-dismiss='modal') No
                    .col-md-6
                        form#removeLesson(
                            name='removeLesson'
                            method='post'
                            action='removeLesson'
                        )
                            //HiddenInput
                            input#lessonID.invisible.noHeight(
                                name='lessonID')
                            button#confirm.btn.btn-danger.btn-lg.btn-block.largeButtonTopMarginReduction(
                                type="submit") Yes
                |             
                
        // /.modal
    script.
        $(function(){
            $("#exampleModal").on("show.bs.modal", function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var id = button.data('whatever') // Extract info from data-* attributes
                var modal = $(this)
                modal.find('#lessonID')[0].value = '' + id;
                console.log(modal.find('#lessonID'));
            })
        })
        
    script.
        var data = !{JSON.stringify(requestedLessonPlans)}
    script(src='/javascripts/votingAddon.js')