extends layoutdash

block dashcontent
    h2.page-header Lessons by #{teacherName}
    - each lesson in requestedLessonPlans
        dl.dl-horizontal
                dt Title
                dd 
                    a(href='viewLesson?id=' + lesson._id)
                        span #{lesson.title}
                .row
                    .col-md-6
                        dt Course
                        dd #{lesson.courseName}
                    .col-md-6
                        dt Duration
                        - var dayText = (lesson.duration_in_days > 1) ? 'days' : (lesson.duration_in_days == 1) ? 'day' : 'a day'; 
                        dd #{lesson.duration_in_days} #{dayText}
                dt Expectations
                dd #{lesson.lesson_plan_expectations}
                dt Actions
                dd
                    a.btn.btn-primary(type='button') Edit
                    span 
                    | 
                    a.btn.btn-primary(type='button', data-toggle='modal'
                        href='#exampleModal'
                        data-whatever=lesson.id) Delete 
    // Modal
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
        .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                |             
                h4#exampleModalLabel.modal-title Are you sure you want to delete this lesson?      
              .modal-footer
                .row
                    .col-md-6
                        button.btn.btn-default.btn-lg.btn-block(type='button', data-dismiss='modal') No
                    .col-md-6
                        form#removeLesson(
                            name='removeLesson'
                            method='post'
                            action='removeLesson'
                        )
                            //HiddenInput
                            input#lessonID.invisible.noHeight(
                                name='lessonID')
                            button#confirm.btn.btn-danger.btn-lg.btn-block.largeButtonTopMarginReduction(
                                type="submit") Yes
                |             
                
        // /.modal
    script.
        $(function(){
            $("#exampleModal").on("show.bs.modal", function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var id = button.data('whatever') // Extract info from data-* attributes
                var modal = $(this)
                modal.find('#lessonID')[0].value = '' + id;
                console.log(modal.find('#lessonID'));
            })
        })
