extends ../layout

block content
    - if (requestedteacher)
        p 
        h2.page-header Teacher Information
        dl.dl-horizontal
            - if (user && String(requestedteacher._id) == String(user._id))
                .text-right
                    a(href='updateuserinfo')
                        i.fa.fa-cogs.fa-fw
            dt Name
            dd #{requestedteacher.name}
            dt School
            dd #{requestedteacher.school}
            dt Email
            dd #{requestedteacher.email}
            dt Username 
            dd #{requestedteacher.username}
            dt Lessons
            dd
                a(href='viewAllLessons?id=' + requestedteacher.id) View All lessons
            - if (requestedteacher.courses.length > 0)
                dt Courses
                dd
                    ul.list-unstyled
                     - each course in requestedteacher.courses
                        li Grade #{course.grade} #{course.subject}
            - if (user && String(requestedteacher._id) != String(user._id))
                dt Friendship
                dd
                    ul.list-unstyled
                        if (user.followers.indexOf(requestedteacher._id) >= 0)
                            li #{requestedteacher.name} follows you!
                        if (user.following.indexOf(requestedteacher._id) >= 0)
                            li
                                a(href='unfollow?id=' + String(requestedteacher.id)) Unfollow
                        else
                            li
                                a(href='follow?id=' + String(requestedteacher.id)) Follow this Teacher!