extends ../layout

block content
    - if (requestedteacher)
        p 
        h2.page-header Teacher Information
        p Name: #{requestedteacher.name}
        p School: #{requestedteacher.school}
        p Email: #{requestedteacher.email}
        p Username: #{requestedteacher.username}
        - if (usercourses)
            ul
             - each course in teachercourses
                li Grade #{course.grade} #{course.subject}
        - if (user && String(requestedteacher._id) == String(user._id)) 
            a(href='updateuserinfo') Change Info
        - if (user && String(requestedteacher._id) != String(user._id))
            if (user.following.indexOf(requestedteacher._id) >= 0)
                a(href='unfollow?id=' + String(requestedteacher._id)) Unfollow
            else
                a(href='follow?id=' + String(requestedteacher._id)) Follow this Teacher!